<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>nexux-release</id>
            <username>admin</username>
            <password>{jbXxYq05WxUHraSNiH5MCxAwDc7d4e6cOC6ofLaRNwk=}</password>
        </server>
        <server>
            <id>nexux-snapshots</id>
            <username>admin</username>
            <password>{jbXxYq05WxUHraSNiH5MCxAwDc7d4e6cOC6ofLaRNwk=}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>central</id>
            <name>Central Repository</name>
            <mirrorOf>*</mirrorOf>
            <url>http://localhost:8081/repository/nexux-group/</url>
        </mirror>
    </mirrors>
</settings>